@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(28, 28, 28);
  height: 80vh;
  width: 100vw;
}

.name:hover { 
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9);
  color:rgb(0, 255, 13);
}

.surname:hover {  
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.9);
  color:rgb(0, 255, 13);
}

.poa-flag:hover { 
  border: 2px solid rgba(24, 24, 24, 0.400); 
}

.rgs-flag:hover { 
  border: 2px solid rgba(24, 24, 24, 0.400); 
}

.bra-flag:hover { 
  border: 2px solid rgba(24, 24, 24, 0.400); 
}

.name {
  color: rgb(255, 255, 255);
  text-decoration: none; 
  margin-right: 10px;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.9);
}

.surname {
  color: rgb(255, 255, 255);
  text-decoration: none; 
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.9);
}

.poa-flag {
  width: 50px;
}

.rgs-flag {
  width: 50px;
}

.bra-flag {
  width: 50px;
}

.flag-count {
  display: flex;
  justify-content: center;
}

.flags {
  display: flex;
  justify-content: center;
  height: 80px;
  text-align: center;
}

.line {
  background-color: rgb(18, 18, 18, 0.9);
  height: 3px;
  width: 100%;
  box-shadow: 2px -2px rgba(42, 42, 42, 0.9);
  margin-top: 40px;
}

.cep {
  display: flex;
  justify-content: space-around;
  margin-top: 3px;
  text-align: center;
  text-shadow: 1px 1px 0px #2b2b2be6;
  max-width: 50px;
}

#cep1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

#cep2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cep3 {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-left: 30px;
}

.symbol {  
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.symbol > a > img { 
  width: 60px;
}

.imagem-foto{
  display: flex;
  justify-content: center;
}

.imagem-foto > img {
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(0, 255, 13);
  padding: 5px;
  margin-top: 20px;
  width: 110px;
  height: 110px;
}

h1 {
  color: white;
  font-family: 'Electrolize', monospace;
  font-weight: bold;
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 20px;
}

.name-rps {
  display: none;
}

.botao {
  display: flex;
  justify-content: center;
}

.botao-especial {
  display: flex;
  justify-content: center;
}

.botao > a > h1 {
  display: none;
}

.button-word {
  font-family: 'Orbitron', monospace;
  font-weight: 800;
  cursor: default;
  text-shadow: 1px 1px 0px rgba(50, 50, 50, 0.9);
  color: rgba(0, 0, 0, 0.9);
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

p {
  white-space: nowrap
}

 span {
  font-family: 'Orbitron', monospace;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 20px;
  cursor: default;
} 

.divisao {
  max-width: 80px;
  text-align: center;
}

.divisao2 {
  max-width: 80px;
}

#redes-sociais {
  margin-top: 50px;
}

#redes-sociais > ul > div > li > a > img {
  width: 80px;
  height: 80px;
  border-radius: 35%;
}

#redes-sociais > ul > div > li {
  text-decoration: none;
  list-style: none;
}

#redes-sociais > ul > div > li > a {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Orbitron', monospace;
  font-weight: 800;
  margin-top: 10px;
}

.imagelogo {
  display: inline-block;
}

#redes-sociais > ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

#redes-sociais2 {
  padding-bottom: 50px;
}

#redes-sociais2 > ul > div > li > a > img {
  display: flex;
  margin-bottom: 5px;
  width: 80px;
  height: 80px;
  border-radius: 35%;
}

#redes-sociais2 > ul > div > li {
  text-decoration: none;
  list-style: none;
}

#redes-sociais2 > ul > div > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Orbitron', monospace;
  font-weight: 800;
  margin-top: 10px;
}

#redes-sociais2 > ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

#redes-sociais > ul > div > li > a > img:hover {
  border: 3px solid rgba(24, 24, 24, 0.400);
}

#redes-sociais2 > ul > div > li > a > img:hover {
  border: 3px solid rgba(24, 24, 24, 0.400);
}

#retroatext {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: wrap;
  font-size: 15px;
}

@font-face {
  src: url("Race Sport.ttf");
  font-family: "Race Sport";
  font-style: normal;
  font-weight: 900;
}

.name {
  background-clip: text;
  -webkit-background-clip: text;
  transition: 0.5s;
  -webkit-text-stroke: 1px #054288;
  font-variation-settings: "wght" 400, "ital" 1;
  font-size: 30px;
  text-align: center;
  color: transparent;
  font-family: 'Race Sport', monospace;
  text-shadow: 0px 0px 0px #ffffff,
    2px 2px 0px #008cff,
    4px 4px 0px #055bdb,
    6px 6px 0px #08549c,
    8px 8px 0px #052a4d,
    10px 10px 0px #000000e6;
  cursor: pointer;
}

.name:hover {
  -webkit-text-stroke: 1px #08549c;
  font-variation-settings: "wght" 100, "ital" 1;
  color: #32adff;
  text-shadow: 3px 3px 0px #000000e6;
}

.surname {
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.5s;
  -webkit-text-stroke: 1px #054288;
  font-variation-settings: "wght" 400, "ital" 1;
  font-size: 30px;
  text-align: center;
  color: transparent;
  font-family: 'Race Sport', monospace;
  text-shadow: 0px 0px 0px #ffffff,
  2px 2px 0px #008cff,
  4px 4px 0px #055bdb,
  6px 6px 0px #08549c,
  8px 8px 0px #052a4d,
    10px 10px 0px #000000e6;
  cursor: pointer;
}

.surname:hover {
  -webkit-text-stroke: 1px #08549c;
  font-variation-settings: "wght" 100, "ital" 1;
  color: #32adff;
  text-shadow: 3px 3px 0px #000000e6;
}

@media (max-width: 1200px) {
  .botao > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 230px;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 52, 95);
    font-size: 15px;
  }

  .divisao {
    max-width: 230px;
  }

  .divisao2 {
    max-width: 230px;
  }

  .botao > a > h1 {
    display: flex;
    font-size: 16px;
    font-family: 'Orbitron', monospace;
    font-weight: 600;
  }

  .botao > p {
    display: none;
  }

  .botao-especial > a > h1 {
    display: flex;
    font-size: 16px;
    font-family: 'Orbitron', monospace;
    font-weight: 600;
  }

  .button-word {
    display: none;
  }

  .botao > a:hover {
    background-color: rgb(29, 29, 29);
    border: 3px solid rgb(0, 45, 72);
    color: white;
    transition: 300ms;
  }

  .botao-especial > a:hover {
    background-color: rgb(29, 29, 29);
    border: 3px solid rgb(20, 20, 20);
    color: white;
    transition: 300ms;
  }

  #redes-sociais > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  #redes-sociais > ul > div > li > a > img {
    display: none;
  }

  .flags {
    margin-bottom: -25px;
  }

  #redes-sociais {
    margin-top: -40px;
  }

  #redes-sociais2 > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #redes-sociais2 > ul > div > li > a > img {
    display: none;
  }

  #redes-sociais2 {
    margin-top: -40px;
  }

  .botao-especial > a {
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 230px;
    border-radius: 20px;
  }

  #retroa > a {
    width: 230px;
  }

  #retroatext {
    display: none;
  }

  .flag {  
    margin-top: 50px;
  }

  .name {
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.5s;
    -webkit-text-stroke: 1px #054288;
    font-variation-settings: "wght" 400, "ital" 1;
    font-size: 20px;
    text-align: center;
    color: transparent;
    font-family: 'Race Sport', monospace;
    text-shadow: 0px 0px 0px #ffffff,
      2px 2px 0px #008cff,
      4px 4px 0px #055bdb,
      6px 6px 0px #08549c,
      8px 8px 0px #052a4d,
      10px 10px 0px #000000e6;
    cursor: pointer;
  }
  
  .name:hover {
    -webkit-text-stroke: 1px #08549c;
    font-variation-settings: "wght" 100, "ital" 1;
    color: #32adff;
    text-shadow: 3px 3px 0px #000000e6;
  }
  
  .surname {
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.5s;
    -webkit-text-stroke: 1px #054288;
    font-variation-settings: "wght" 400, "ital" 1;
    font-size: 20px;
    text-align: center;
    color: transparent;
    font-family: 'Race Sport', monospace;
    text-shadow: 0px 0px 0px #ffffff,
    2px 2px 0px #008cff,
    4px 4px 0px #055bdb,
    6px 6px 0px #08549c,
    8px 8px 0px #052a4d,
      10px 10px 0px #000000e6;
    cursor: pointer;
  }
  
  .surname:hover {
    -webkit-text-stroke: 1px #08549c;
    font-variation-settings: "wght" 100, "ital" 1;
    color: #32adff;
    text-shadow: 3px 3px 0px #000000e6;
  }
}